rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Regra explícita para a coleção de pedidos e suas subcoleções
    match /pedidos/{pedidoId} {
      allow read, write: if request.auth != null;
      
      match /movimentos/{movimentoId} {
        allow read, write: if request.auth != null;
      }
    }
    
    // Regra para produtores
    match /produtores/{produtorId} {
      allow read, write: if request.auth != null;
    }
    
    // Regra para associações
    match /associacoes/{associacaoId} {
      allow read, write: if request.auth != null;
    }

    // Regra global de segurança: permite acesso se o usuário estiver autenticado
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}